.card {
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-shadow: 10px;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card-body {
    text-align: center;
}

.btns button{
    background-color: black;
    justify-content: center;
    transition: 0.7s ease;
    margin: 10px;
    padding: 10px;
}
.btns button:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1.1);

}
.fav{
    background-color: aliceblue;
    justify-content: center;
    transition: 0.7s ease;
    margin: 10px;
    padding: 10px;
    color: black;
    border-radius: 10px;
}
.fav:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1.1);
}
