#navv{
    margin: 10px;
    border-radius:35px ;
   
    padding: 10px;
}
#navbarNav{
    margin: 10px;
    border-radius:35px ;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}